<div class="row">

    <div class="col-lg-12">

        <h1>Vos feuilles d'heures</h1>

        <div>
            <form action="/workingday/sheet/add" method="POST">

                <label for="month">Séléctionnez un mois :</label>
                <input type="month" name="month" id="month">
                <br>
                <input type="submit" class="btn btn-primary" value="Accéder"
                       style="margin-top: 10px;">

            </form>
        </div>

        <h1>Vos plannings</h1>

        <table class="table table-bordered">
            {{#each plannings}}
                <tr>
                    <td><i class="fa fa-file"></i> {{this.name}}</td>
                    <td><i class="fa fa-download"></i> <a href="/planning/download/{{this._id}}" target="_blank">Télécharger</a></td>
                </tr>
            {{/each}}
        </table>

    </div>

</div>