<div class="row">

    <div class="col-lg-6 col-lg-offset-3">

        <div class="well">

            <h2>{{planning.name}}</h2>

            <a href="{{planning.uri}}" target="_blank" class="btn btn-block btn-danger"><i class="fa fa-download"></i> Télécharger ce planning</a>

        </div>

    </div>

</div>