<div class="col-lg-12">
    <h1>Ce planning n'existe plus.</h1>
    <p>Ce planning semble avoir été supprimé par l'administrateur.</p>
    <p><a href="/dashboard/employee">Voir mes plannings</a></p>
</div>