<div class="col-lg-12">
    <h1>Le planning a été envoyé.</h1>
    <p>Tous les employés on reçu un mail alertant de la présence d'un nouveau planning.</p>
    <p><a href="/dashboard">Retour</a></p>
</div>